## Requirements ##

python3 -m venv .venv
source .venv/bin/activate   # every terminal session before running the script
.venv\Scripts\activate # use for windows.
pip install --upgrade pip
pip install requests pandas openpyxl

## Command ##
python3 check_links.py links.csv
python check_links.py links.csv --target "công năng" --target "thông số kỹ thuật"
